.about-company {
  display: flex;
  justify-content: center;
  padding: 80px 0;
  box-sizing: border-box;
}

@media screen and (max-width: 834px) {
  .about-company {
    padding: 60px 0;
  }  
}

@media screen and (max-width: 540px) {
  .about-company {
    padding: 40px 0;
  }  
}