.services__title {  
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .services__title {
    font-size: 24px;
  }  
}

@media screen and (max-width: 768px) {
  .services__title {
    font-size: 20px;
  }  
}

.services__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(79, 143, 240);
  margin: 10px auto 0 auto;
}