.services-item__logo {
  background-image: url(../../../images/services-item-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 29px;
  margin-bottom: 18px;
}