@import url(../vendor/normalize.css);
@import url(../blocks/body/body.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__contacts/header__contacts.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__info/contacts__info.css);
@import url(../blocks/contacts/__request-call/contacts__request-call.css);
@import url(../blocks/contacts/__info/_tel/contacts__info_tel.css);
@import url(../blocks/contacts/__info/_email/contacts__info_email.css);
@import url(../blocks/menu/__container/menu__container.css);
@import url(../blocks/menu/__logo/menu__logo.css);
@import url(../blocks/menu/__items/menu__items.css);
@import url(../blocks/menu/__item/menu__item.css);
@import url(../blocks/menu/__list/menu__list.css);
@import url(../blocks/menu/__list/_active/menu__list_active.css);
@import url(../blocks/menu/__close-button/menu__close-button.css);
@import url(../blocks/logo/__title/logo__title.css);
@import url(../blocks/logo/__subtitle/logo__subtitle.css);
@import url(../blocks/menu/__burger-icon/menu__burger-icon.css);
@import url(../blocks/content/content.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__info/lead__info.css);
@import url(../blocks/lead/__slider/lead__slider.css);
@import url(../blocks/lead-slider/__control-panel/lead-slider__control-panel.css);
@import url(../blocks/lead-slider/__item/lead-slider__item.css);

a {
  text-decoration: none;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.control-panel__arrows {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.slick-list {
  justify-content: center;  
  overflow: hidden;
}

.slick-track {
  display: flex;
  width: 100%;
}



.lead .slick-arrow {    
  font-size: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: 0;  
  cursor: pointer;
  padding: 0;
}

.lead .slick-arrow.slick-next { 
  margin-left: 8px;  
  background: url(../images/20px_arrowright.svg) 0 0 / 100% no-repeat;
}

.lead .slick-arrow.slick-prev {  
  margin-right: 8px;
  background: url(../images/20px_arrowleft.svg) 0 0 / 100% no-repeat;
}

.lead .slick-dots {  
  display: flex;
  align-items: flex-end;
  gap: 8px;
  font-size: 0;  
  list-style-type: none;
  padding: 0;
}

.lead .slick-dots .slick-active button {
  width: 4px;
  height: 40px;
  background-color: rgb(79, 143, 240);
}

.lead .slick-dots button {
  height: 24px;
  width: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.lead__title {  
  max-width: 642px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.lead__title_accent {
  color: rgb(79, 143, 240);
  font-size: 56px;
  font-weight: 600;
}

.lead__subtitle {
  max-width: 1090px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-size: 24px;
    line-height: 40px;
  }

  .lead__title_accent {
    font-size: 50px;
  }

  .lead__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 18px;
  }

  .lead__title_accent {
    font-size: 30px;
  }

  .lead__subtitle {
    font-size: 16px;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgb(79, 143, 240);
  background: rgb(79, 143, 240);
  margin-top: 48px;
  width: 158px;
  height: 49px;
  color: rgb(255, 255, 255);  
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 720px) {
  .lead__button {
    margin-bottom: 60px;
  }  
}

button:hover {
  border: 2px solid rgb(79, 143, 240);
  background: rgb(255, 255, 255);
  color: rgb(79, 143, 240);
  cursor: pointer;
}

button:disabled {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(230, 230, 230);
  color: rgb(34, 34, 34);
  cursor: auto;
}

button:active {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  color: rgb(34, 34, 34);  
}

.services {
  max-width: 1920px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;  
  box-sizing: border-box;
  padding-bottom: 80px;
}

@media screen and (max-width: 1024px) {
  .services {
    padding-bottom: 60px;
  }  
}

@media screen and (max-width: 768px) {
  .services {    
    padding-bottom: 40px;    
  }  
}

.services__title {  
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .services__title {
    font-size: 24px;
  }  
}

@media screen and (max-width: 768px) {
  .services__title {
    font-size: 20px;
  }  
}

.services__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(79, 143, 240);
  margin: 10px auto 0 auto;
}

.services__subtitle {
  max-width: 920px;
  width: calc(100% - 138px);
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  margin-top: 24px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .services__subtitle {
    font-size: 14px;
  }  
}

.services__list {
  max-width: 1320px;
  width: calc(100% - 138px);
  list-style-type: none;
  display: grid;
  column-gap: 24px;
  row-gap: 38px;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(250px, 424px));  
  padding: 0;
  margin: 48px 69px;
}

@media screen and (max-width: 1024px) {
  .services__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 336px));
  }  
}

@media screen and (max-width: 834px) {
  .services__list {
    grid-template-columns: repeat(auto-fit, 250px);
  }  
}

@media screen and (max-width: 560px) {
  .services__list {
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 24px;
    margin: 0;  
    margin-top: 24px;    
    overflow: hidden;
    padding: 0;
    padding-left: 24px;
    box-sizing: border-box;
  }  
}

.services__slider .slick-list {
  display: flex;  
  width: 100%;
}  

.services__slider .slick-track {
  gap: 24px;
}

.services__border {  
  position: relative;
  align-self: center;
  height: 100%;  
}

@media screen and (max-width: 1024px) {
  .services__border {
    max-width: 336px;
    min-width: 250px;
  }  
}

@media screen and (max-width: 834px) {
  .services__border {
    max-width: 250px;
  }  
}

.services__item {
  display: flex;
  background: rgb(255, 255, 255);
  flex-direction: column;
  align-items: center;
  max-width: 424px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 32px;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .services__item {
    padding: 30px 32px 40px 32px;
  }  
}

@media screen and (max-width: 834px) {
  .services__item {
    padding: 24px 16px 32px 16px;
  }  
}

.services-item__logo {
  background-image: url(../images/services-item-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 29px;
  margin-bottom: 18px;
}

.services-item__title {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 10px 0;
}

@media screen and (max-width: 1024px) {
  .services-item__title {
    line-height: 120%;
  }  
}

.services-item__subtitle {
  width: 100%;
  display: -webkit-box;
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 9px 0;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical; 
  overflow: hidden; 
  height: 51px;
}

@media screen and (max-width: 1024px) {
  .services-item__subtitle {
    font-weight: 300px;
    margin: 0;
  }  
}


.services__border:hover::before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;  
  right: 20px;
  top: 20px;  
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.services__border:hover::after {
  content: '';
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;  
  right: 20px;
  bottom: 20px;  
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.services__item:hover::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;  
  bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.services__item:hover::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;  
  top: 20px;  
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.services__item:hover {
  background-color: rgb(79, 143, 240);
  
}

.services__item:hover * {
  color: rgb(255, 255, 255);
}

.services__item:hover .services-item__logo {
  background-image: url(../images/services-item-logo-hover.svg);
}

.services__button {  
  width: 138px;  
}

