@import url(../vendor/normalize.css);
/* @import url(../vendor/fonts/fonts.css); */

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 1920px;
  margin: 0 auto;
  /* position: relative; */
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
}

.header__contacts {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgb(1, 1, 1);
  height: 52px;
  padding: 16px 0;
  box-sizing: border-box;
}

.contacts {
  max-width: 1320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 69px;
}

@media screen and (max-width: 700px) {
  .contacts {
    margin: 0 24px;   
  }
}

.contacts__info a {
  color: rgb(255, 255, 255);
  height: 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;   
  position: relative;
  margin-left: 28px;
  margin-right: 24px;
}

.contacts__info_tel::before {
  content: '';  
  position: absolute;
  left: -28px;
  display: inline-block;
  background-image: url(../images/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

.contacts__info_email::before {
  content: '';
  position: absolute;
  left: -30px;
  display: inline-block;
  background-image: url(../images/email.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}

@media screen and (max-width: 600px) {
  .contacts__info_email {
    display: none;
  }  
}

.contacts__request-call {
  color: rgb(79, 143, 240);  
  font-size: 14px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0;
}

.header__menu {
  display: flex; 
  position: relative;
  justify-content: center;
  width: 100%;
  height: 112px;
  background: rgba(1, 1, 1, 0.76);
}

@media screen and (max-width: 834px) {
  .header__menu {
    height: 84px;
  }  
}

.menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1320px;
  width: 100%;
  margin: 0 69px;
}

@media screen and (max-width: 720px) {
  .menu__container {
    margin: 0 23px;
  }  
}

.menu__logo {
  max-width: 312px; 
  margin-right: 36px; 
}

.logo__title {
  color: rgb(79, 143, 240);
  margin: 0;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
}

.logo__subtitle {
  color: rgb(255, 255, 255);  
  margin: 0;
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
  letter-spacing: 0;
  text-transform: lowercase;
}

@media screen and (max-width: 834px) {
  .logo__title {
    font-size: 22px;
  }  

  .logo__subtitle {
    font-size: 16px;
  }
}

.menu__burger-icon {
  display: none;
  background-image: url(../images/menu-burger-icon.svg);
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  width: 18px;
  height: 16px;
  border: 0;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 834px) {
  .menu__burger-icon {
    display: block;
  }  
}

.menu__items {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 32px;
  row-gap: 10px;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 834px) {
  .menu__list {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 290px;
    height: 529px;
    background-color: rgb(34, 34, 34);
    opacity: 0;    
  } 
  
  .menu__items {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 26px;
    margin-top: 10px;
    gap: 24px;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.menu__list-active {
  display: flex;
  opacity: 1;
  animation: show 0.5s;
}

.menu__item {  
  color: rgb(255, 255, 255);  
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
}

.menu__item:hover {
  color: rgb(79, 143, 240);
  text-decoration-line: underline;
  cursor: pointer;
}

.menu__close-button {
  display: none;
}

@media screen and (max-width: 834px) {
  .menu__close-button {
    display: block;
    background-image: url(../images/menu_burger_close_icon.svg);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    border: 0;
    padding: 24px;
    align-self: flex-end;
    cursor: pointer;
  }
}

.content {
  max-width: 1920px;
  width: 100%;
  position: absolute;
  top: 52px;
  z-index: -1;
}

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lead__info {
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 69px;
}

@media screen and (max-width: 834px) {
  .lead__info {
    margin: 89px 23px 0 23px;
    max-width: 513px;
  }  
}

.lead__slider {  
  width: 100%;
  position: relative;  
}

.lead-slider__control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  max-width: 1320px;
  width: calc(100% - 138px);
  bottom: 46px;
  color: rgb(230, 230, 230);
  font-size: 26px;
  line-height: 1;
  margin: 0 69px;  
}

@media screen and (max-width: 720px) {
  .lead-slider__control-panel {
    display: none;
  }
}

.control-panel__arrows {
  display: flex;
  align-items: center;
  font-size: 32px;
}

.item1 {
  background-image: url(../images/head-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.item2 {
  background-image: url(../images/forest-landscape.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.item3 {
  background-image: url(../images/head-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
}

.slick-list {
  justify-content: center;  
  overflow: hidden;
}

.slick-track {
  display: flex;
  width: 100%;
}

.slider__item {   
  height: 820px;
}

@media screen and (max-width: 1024px) {
  .slider__item {
    height: 529px;
  }  
}

@media screen and (max-width: 720px) {
  .slider__item {
    height: 486px;
  }  
}

.lead .slick-arrow {    
  font-size: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  border: 0;  
  cursor: pointer;
  padding: 0;
}

.lead .slick-arrow.slick-next { 
  margin-left: 8px;  
  background: url(../images/20px_arrowright.svg) 0 0 / 100% no-repeat;
}

.lead .slick-arrow.slick-prev {  
  margin-right: 8px;
  background: url(../images/20px_arrowleft.svg) 0 0 / 100% no-repeat;
}

.lead .slick-dots {  
  display: flex;
  align-items: flex-end;
  gap: 8px;
  font-size: 0;  
  list-style-type: none;
  padding: 0;
}

.lead .slick-dots .slick-active button {
  width: 4px;
  height: 40px;
  background-color: rgb(79, 143, 240);
}

.lead .slick-dots button {
  height: 24px;
  width: 4px;
  padding: 0;
  border: 0;
  cursor: pointer;
}

.lead__title {  
  max-width: 642px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 300;
  line-height: 80px;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.lead__title_accent {
  color: rgb(79, 143, 240);
  font-size: 56px;
  font-weight: 600;
}

.lead__subtitle {
  max-width: 1090px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 8px 0 0 0;
}

@media screen and (max-width: 1024px) {
  .lead__title {
    font-size: 24px;
    line-height: 40px;
  }

  .lead__title_accent {
    font-size: 50px;
  }

  .lead__subtitle {
    font-size: 18px;
  }
}

@media screen and (max-width: 720px) {
  .lead__title {
    font-size: 18px;
  }

  .lead__title_accent {
    font-size: 30px;
  }

  .lead__subtitle {
    font-size: 16px;
  }
}

.lead__button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgb(79, 143, 240);
  background: rgb(79, 143, 240);
  margin-top: 48px;
  width: 158px;
  height: 49px;
  color: rgb(255, 255, 255);  
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media screen and (max-width: 720px) {
  .lead__button {
    margin-bottom: 60px;
  }  
}

.lead__button:hover {
  border: 2px solid rgb(79, 143, 240);
  background: rgb(255, 255, 255);
  color: rgb(79, 143, 240);
  cursor: pointer;
}

.lead__button:disabled {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(230, 230, 230);
  color: rgb(34, 34, 34);
  cursor: auto;
}

.lead__button:active {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  color: rgb(34, 34, 34);  
}



.services {
  max-width: 1920px;
  width: 100%;
  background-color: rgb(247, 247, 247);
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.services__title {  
  color: rgb(34, 34, 34);
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 0;
  margin-top: 80px;
}

.services__title::after {
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background: rgb(79, 143, 240);
  margin: 10px auto 0 auto;
}

.services__subtitle {
  max-width: 920px;
  width: 100%;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  margin: 0;
  margin-top: 24px;
  text-align: center;
}

.services__list {
  max-width: 1320px;
  width: calc(100% - 138px);
  list-style-type: none;
  display: grid;
  column-gap: 24px;
  row-gap: 38px;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(250px, 424px));  
  padding: 0;
  margin: 48px 69px;
}

.services__item {
  display: flex;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 424px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 32px;
  position: relative;
}

.services-item__logo {
  background-image: url(../images/services-item-logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 29px;
  height: 29px;
  margin-bottom: 18px;
}

.services-item__title {
  color: rgb(34, 34, 34);
  font-size: 20px;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 10px 0;
}

.services-item__subtitle {
  color: rgb(34, 34, 34);
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  margin: 0 0 9px 0;
}

.services__border {  
  position: relative;
}

.services__border:hover::before {
  content: '';
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;  
  right: 20px;
  top: 20px;  
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.services__border:hover::after {
  content: '';
  z-index: 2;
  position: absolute;
  width: 35px;
  height: 35px;  
  right: 20px;
  bottom: 20px;  
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
}

.services__item:hover::before {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;  
  bottom: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.services__item:hover::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 35px;
  left: 20px;  
  top: 20px;  
  box-sizing: border-box;
  border-top: 1px solid rgb(255, 255, 255);
  border-left: 1px solid rgb(255, 255, 255);
}

.services__item:hover {
  background-color: rgb(79, 143, 240);
  
}

.services__item:hover * {
  color: rgb(255, 255, 255);
}

.services__item:hover .services-item__logo {
  background-image: url(../images/services-item-logo-hover.svg);
}

