.button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgb(79, 143, 240);
  background: rgb(79, 143, 240);
  margin-top: 48px;
  padding: 16px 22px;  
  height: 49px;
  color: rgb(255, 255, 255);  
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0;
  text-transform: uppercase;
}

button:hover {
  border: 2px solid rgb(79, 143, 240);
  background: rgb(255, 255, 255);
  color: rgb(79, 143, 240);
  cursor: pointer;
}

button:disabled {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(230, 230, 230);
  color: rgb(34, 34, 34);
  cursor: auto;
}

button:active {
  border: 2px solid rgb(230, 230, 230);
  background: rgb(255, 255, 255);
  color: rgb(34, 34, 34);  
}